body {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#main {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

#main h1 {
  font-size: 3em;
}

.lead {
  font-size: 1.7em;
  padding: 0 10;
}

.main-01 {
  color: #674172;
}

.main-02 {
  color: #EC644B;
}

.main-03 {
  color: #1BBC9B;
}

.main-04 {
  color: #EB9532;
}

.main-05 {
  color: #3498DB;
}

#main h2 {
  font-size: 2em;
  padding: 30;
}

#container {
  background-color: rgba(255, 255, 255);
  width: 70%;
  padding-bottom: 30px;
}

#content {
  margin-top: 80px;
  flex: 1;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  /*background: url('../images/card-wrapper.jpg');
  background-size: cover;*/
  background: #FAFAFA;
  position: relative;
}

.card-container {
  padding: 100;
}

@media only screen and (max-width: 1024px) {
  #container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  #container {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  #container {
    width: 100%;
  }
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  position: relative;
}

.search {
  width: 100%;
  font-size: 2em;
  padding: 20 30;
  border: 10px solid rgba(0, 0, 0, .1);
  border-radius: 20px;
  outline: none;
  color: #1BBC9B;
  font-family: 'Dosis', sans-serif;
}

.search-enter {
  position: absolute;
  top: 15%;
  right: 20px;
  border: 0;
  background-color: #1BBC9B;
  color: #FFFFFF;
  padding: 15;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

/*.search:focus {
  border: 0;
  margin: 10;
  color: #FFF;
  background: #ffb347;
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  background: linear-gradient(to right, #ffcc33, #ffb347);
}*/

.search-hint {
  text-align: center;
  color: #BBB;
  font-size: 1.2em;
  padding: 10;
}

.card-wrapper {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.headline-description {
  color: #AAAAAA;
  line-height: 1.5em;
}

.headline-tooltip {
  cursor: pointer;
}

.headline-name {
  color: #F4B350;
}

.headline-city {
  color: #EC644B;
}

.headline-tech {
  color: #52B3D9;
}

.fun {
  color: #D2527F;
}

.dots {
  line-height: 1em;
  display: flex;
  flex-direction: row;
  font-size: 6em;
  text-align: center;
}

.red-dot {
  color: #EC644B;
  width: 100%;
}

.magic-dot {
  background: #59ABE3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 50 auto;
}

.magic-dot:hover {
  background: transparent;
  width: 0;
	height: 0;
  border-radius: 0;
	border-left: 25px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #EB9532;
  border-radius: 50;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons a {
  flex: 1;
  font-size: 2em;
  color: #CCC;
  outline: none;
}

.social-icons a:hover {
  color: #888;
}

.card {
  margin: 10;
  background: #FFFFFF;
  padding: 0;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  font-family: 'Dosis', sans-serif;
  transition: 0.5s;
}

.card:hover {
  transition: 0.5s;
  -webkit-box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.12);
}

.card-normal {
  flex: 1;
}

.card-half {
  flex: 0.5;
}

.card-image {
  width: 20%;
  height: 220;
  background: url('../images/prof_adhy.JPG');
  background-size: cover;
}

.card-content {
  padding: 10 30;
}

.card-content > h3 {
  font-size: 2em;
  margin-top: 10;
}

.blue-card {
  background-color: #52B3D9;
  color: #FFFFFF;
}

.orange-card {
  background-color: #E9D460;
  color: #353535;
}
