body {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* ==== MAIN SECTION ==== */

#container {
  background-color: rgba(255, 255, 255);
  width: 70%;
  padding-bottom: 30px;
}

#main {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

#main h1 {
  font-size: 5em;
}

#main h2 {
  font-size: 2em;
  padding: 30;
}


.atom-logo {
  animation: atom-logo-spin infinite 30s linear;
  height: 150px;
  width: 150px;
}

@keyframes atom-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lead {
  font-size: 2em;
}

.main-01 {
  color: #34495E;
}

.main-02 {
  color: #EC644B;
}

.main-03 {
  color: #1BBC9B;
}

.main-04 {
  color: #EB9532;
}

.main-05 {
  color: #3498DB;
}

.headline-description {
  color: #999999;
  line-height: 1.5em;
}

.headline-tooltip {
  cursor: pointer;
}

.headline-name {
  color: #F4B350;
}

.headline-title {
  color: #34495E;
}

.headline-city {
  color: #EC644B;
}

.headline-tech {
  color: #52B3D9;
}

.fun {
  color: #1BBC9B;
}

.dots {
  line-height: 1em;
  display: flex;
  flex-direction: row;
  font-size: 6em;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons a {
  flex: 1;
  font-size: 2em;
  color: #CCC;
  outline: none;
}

.social-icons a:hover {
  color: #888;
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  position: relative;
}

.search {
  width: 100%;
  font-size: 2em;
  padding: 20 30;
  border: 10px solid rgba(0, 0, 0, .1);
  border-radius: 20px;
  outline: none;
  color: #1BBC9B;
  font-family: 'Dosis', sans-serif;
}

.search-enter {
  position: absolute;
  top: 15%;
  right: 20px;
  border: 0;
  background-color: #1BBC9B;
  color: #FFFFFF;
  padding: 15;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

/*.search:focus {
  border: 0;
  margin: 10;
  color: #FFF;
  background: #ffb347;
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  background: linear-gradient(to right, #ffcc33, #ffb347);
}*/

.search-hint {
  text-align: center;
  color: #BBB;
  font-size: 1.2em;
  padding: 10;
}

@media only screen and (max-width: 1024px) {
  #container {
    width: 80%;
  }

  .card-container {
    padding: 70
  }
}

@media only screen and (max-width: 768px) {
  #container {
    width: 90%;
  }
  .card-container {
    padding: 40
  }
  .card-image {
    display: none;
  }
  .card-content-main {
    flex: 1;
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  #container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  #container {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  #container {
    width: 100%;
  }
}

/* ==== CONTENT SECTION ==== */

#content {
  margin-top: 80px;
  flex: 1;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background: #FBFBFB;
  position: relative;
}

.card-container {
  padding: 100;
  margin-top: 0px;
}

.card-content-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .card-container {
    padding: 70
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    padding: 40
  }
}

@media only screen and (max-width: 480px) {
  .card-container {
    padding: 0
  }
}

.card-wrapper {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  margin: 10;
  background: #FFFFFF;
  padding: 0;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  font-family: 'Dosis', sans-serif;
  transition: 0.5s;
  border: 1px solid rgba(0,0, 0,.1);
}

.card:hover {
  transition: 0.5s;
  -webkit-box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 31px 0px rgba(0,0,0,0.12);
}

.card-normal {
  flex: 1;
}

.card-half {
  flex: 0.5;
}

.card-image {
  width: 20%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: white;
  background-size: 200%;
}

.card-image:before {
  content: "";
  position: absolute;
  background: url('../images/molecule_v2.svg');
  background-size: 100%;
  background-position: -20px 50%;
  background-repeat: no-repeat;
  margin-left: 0;
  width: 105%;
  height: 100%;
  z-index: 0;
  transition: 1s;
}

.card:hover .card-image:before {
  background-position: 0px 0%;
  transition: 1s;
  transform: rotate(-20deg) translate(-20px, -20px);
  background-size: 100%;
}

.card-content {
  padding: 10 30;
  width: 100%;
}

.card-content > h3 {
  font-size: 3em;
  margin-top: 40;
  line-height: 1em;
  padding-left: 20px;
  color: #3498DB;
}

.card-content > p {
  padding: 10px;
  font-size: 1.2em;
  color: #777;
  margin-top: -40;
}

.blue-card {
  background-color: #52B3D9;
  color: #FFFFFF;
}

.orange-card {
  background-color: #E9D460;
  color: #353535;
}

/* ==== CONTENT SECTION ==== */

#showcase {
  margin-top: 180px;
  flex: 1;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background: #34495E;
  position: relative;
  display: flex;
  flex-direction: column;
}
